@model IEnumerable<supertalentoftheworld.Models.Get_Course_Content>

@{
    ViewBag.Title = "Course_setting_list";
}
@Html.Partial("/Views/Layout/Header_admin.cshtml")
<div class="text-center" style="margin:50px;">
    <h2 style="font-weight:bold;">Course Setting List</h2>
</div>
<div class="text-right" style="margin:20px;">
    <p>
        <a class="btn-success" style="padding:10px;" href="/Admin/Course_setting_add">Create New</a>
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Writer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Writer)
            </td>
            <td>
                @Html.ActionLink("Edit", "/Course_setting_edit", new { id = item.id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                <button class="btn-danger" style="border:none" onclick="confirm_d(@item.id)" type="button">Delete</button>
            </td>
        </tr>
    }

</table>

<script>
    function confirm_d(id) {
        if (confirm("정말 삭제하시겠습니까?") == true) {    //확인
            location.href = "/Admin/Course_setting_delete?id=" + id + "";
        } else {   //취소
            return;
        }
    }
</script>