@model IEnumerable<supertalentoftheworld.Models.Travel_Goods>

@{
    ViewBag.Title = "Product_list";
}
@Html.Partial("/Views/Layout/Header_admin.cshtml")
<div class="text-center" style="margin:50px;">
    <h2 style="font-weight:bold;">Product List</h2>
</div>
<div class="text-right" style="margin:20px;">
    <p>
        <a class="btn-success" style="padding:10px;" href="/Admin/Product_add">Create New</a>
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            Course
        </th>
        <th>
            Images
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rdate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Writer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainImgPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price_d)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price_w)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>

            <td>
                <a class="btn-primary" style="padding:5px" href="/Admin/Course_list?id=@Html.DisplayFor(modelItem => item.id)" type="button">코스관리</a>
            </td>
            <td>
                <a class="btn-primary" style="padding:5px" href="/Admin/Product_Img_Setting?id=@Html.DisplayFor(modelItem => item.id)" type="button">이미지 관리</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Writer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainImgPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price_d)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price_w)
            </td>
            <td>
                @Html.ActionLink("Edit", "/Product_edit", new { id = item.id }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.id }) |*@
                @*@Html.ActionLink("Delete", "/Product_delete", new { id = item.id })*@
                <button class="btn-danger" style="border:none" onclick="confirm_d(@item.id)" type="button">Delete</button>
            </td>
        </tr>
    }

</table>


<script>
    function confirm_d(id) {
        if (confirm("정말 삭제하시겠습니까?") == true) {    //확인
            location.href = "/Admin/Product_delete?id=" + id + "";
        } else {   //취소
            return;
        }
    }

    level_check();

    function level_check() {        
        
        if ("@User.Identity.IsAuthenticated" == "True") {
            var user_level = "@Request.Cookies["user_level"].Value";
          
            if (user_level == "9") {
                console.log("관리자 권한 확인")
            } else {
                if (!alert("권한이 없습니다. 관리자 계정으로 로그인 하세요.")) document.location = '/home/login';
            }
        } else {
            if (!alert("로그인 후 사용하세요.")) document.location = '/home/login';
        }
    }

</script>