@using SmartFactory.Controllers
@using supertalentoftheworld.Models
@using System.Text.RegularExpressions
@model IEnumerable<supertalentoftheworld.Models.Board>
@{



    string language = "korea";

    try
    {
        language = Request.Cookies["language"].Value ?? "korea";
    }

    catch
    {

    }

    if(Request["language"] == "english")
    {
        language = "english";
    }

}
@{

    pagination pg = ViewBag.pagination;

    int i = 0;
    string Mode = "i";
    if (string.IsNullOrEmpty(Request["cate"]))
    {
        Mode = "i";
    }
    else
    {
        Mode = "e";
    }
    string cate = Request["cate"] ?? "";
    string search_all_type = ViewBag.search_all_type ?? "1";
    string search_all = ViewBag.search_all ?? "";
    string main_bg_color = "azure";
    string board_style = "tbl_red";

    try
    {
        main_bg_color = Request.Cookies["web_main_bg"].Value ?? "azure";

        board_style = SmartFactory.Util.get_word.style_color(main_bg_color);
    }
    catch
    {


    }

}
<style>
    .table thead tr {
        border-bottom: solid 2px #000 !important;
        border-top: solid 1px #000
    }

    .table tbody td {
        border-bottom: dotted 1px #444 !important;
        font-size: 14px;
        font-family: 'NanumSquareR','sans-serif', Arial, serif;
    }

    .table tbody tr:last-child {
        border-bottom: solid 1px #444 !important;
    }

    #search_all_type {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(/images/Shop/caret-down1.png) no-repeat 92% 48%;
        border: solid 1px #ccc;
        padding: 5px 30px;
    }

        #search_all_type::-ms-expand {
            display: none;
        }

</style>
<script src="~/Content/Board/Board.js"></script>
<link href="~/Content/Board/board.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function() {
        var cate = "@Request["cate"]";
        var mode = '@Mode';
        var search_all_type = '@search_all_type'

        if (search_all_type == "") {
            search_all_type = "1";
        }

        var _cate = "@ViewBag.기본게시글";

        if (_cate == "") {
            _cate = $("#BD_BM_idx").val();
        }

        $('#search_all_type option[value=' + search_all_type + ']').attr('selected', 'selected');

        if (mode == "e") {
            $('#BD_BM_idx option[value=' + cate + ']').attr('selected', 'selected');
        } else {

            $('#BD_BM_idx option[value=' + _cate + ']').attr('selected', 'selected');

        }

        if (cate != "") {
            $('#BD_BM_idx option[value=' + cate + ']').attr('selected', 'selected');
        }


    });

    function search() {
        var cate = $("#BD_BM_idx").val();

        location.href = "/board/board_list/?cate=" + cate;

    }


    function search_it() {

        //로딩바=====================================================================================================================================================
        $('<div id="loading" style="position: absolute; z-index:20;"> <img src ="/images/common/ajax-loader11.gif" /></div>')
            .insertBefore('#result').ajaxStart(function () {
                $(this).show();

            }).ajaxStop(function () {
                $(this).hide();
            });
                //========================================================================================================================================================


        $("#form1").submit();
    }

    function go_link(idx) {

        var cate = $("#BD_BM_idx").val();

        location.href = "/board/boardview/?idx=" + idx + "&cate=" + cate;

    }

    function go_write() {

        var cate = $("#BD_BM_idx").val();

        location.href = "/board/boardwrite/?cate=" + cate;

    }

</script>



@if (language == "korea")
{
    @Html.Partial("/Views/Layout/Header_ko.cshtml")
}
else
{

    @Html.Partial("/Views/Layout/Header.cshtml")

}
<div class="col-md-12 subtitle_bg" style="background-image: url('/images/Background/notice_bg.jpg');box-sizing: border-box; background-size: cover; background-position: center right; background-repeat: no-repeat; color: #fff; line-height:3em;padding:0;">
    <div class="col-md-4 col-md-offset-1" style="display:block;position:relative;padding:20px 0;">
        <h1 class="subtitle_res" style="font-weight:700;color:#fff;text-align:center;">@ViewBag.타이틀</h1>
    </div>
</div>


<div class="container  sub_page" style="margin-bottom:50px;clear:both;">

    <div class="carousel-inner" style=" border-bottom:solid 1px #ddd; margin-bottom:50px;width:90%; margin-left:5%">


        @{ int first = 1; }
        @foreach (Board item in Model)
        {
            DateTime _date = item.BD_wdate;
            int _year = _date.Year;
            int _month = _date.Month;
            int _day = _date.Day;

            string mon = _date.ToShortDateString().Substring(5, 2);
            string day = _date.ToShortDateString().Substring(8, 2);
            string _department = "";
            string htmlString = item.BD_content;

            string htmlTagPattern = "<[^>]*>";
            var regexCss = new Regex("(\\<script(.+?)\\</script\\>)|(\\<style(.+?)\\</style\\>)", RegexOptions.Singleline | RegexOptions.IgnoreCase);







            int s = 250;
            try
            {


                htmlString = regexCss.Replace(htmlString, string.Empty);
                htmlString = Regex.Replace(htmlString, htmlTagPattern, string.Empty);
                htmlString = Regex.Replace(htmlString, @"^\s*$\n", "", RegexOptions.Multiline);

                htmlString = htmlString.Replace("&nbsp;", " ").Replace("&rsquo;","").Replace("&lsquo;","").Replace("&rarr;", " ").Replace("&middot;", "ㆍ").Replace("&ldquo;", "").Replace("&rdquo;", "").Replace("&amp;", "&").Replace("&#39;", "").Replace("&quot;", "＂").Replace("&rsquo;","").Replace("&apos;", "‘").Replace("&lt; ", "<").Replace("&gt; ", ">");


                if (htmlString.Length > s)
                {
                    htmlString = htmlString.Substring(0, s) + "..";

                }

            }
            catch { }




            <div class="" style="width:100%;">

                <div style="width:100%;display:table;border-top:solid 1px #ddd;padding-top:5px; padding-bottom:5px;">
                    <div class="col-md-9" style="float:left;">

                       
                        <div class="main-article" style="width:100%;display:table;height:20px;margin-top:15px;font-size:17px;font-weight :500 ">
                            <a style="float:left;margin-right:15px;" href="/board/boardview/?idx=@item.BD_idx&cate=@Request["cate"]">
                                @get_string(item.BD_title, 45)
                            </a>
                                <span style="font-size:1.1rem;margin-left:10px ;color:#444"> @_date.Year . @mon . @day </span>
                        </div>
                        
                       
                        <div  style="display:table;margin-top:15px;color:#aaa;overflow:hidden;line-height:150%;color:#444;clear:both ">

                            @htmlString


                        </div>
                    </div>


                    <div  class="col-md-3" style="float:right;">
                        <a style="display:table;float:left;margin-right:15px;" href="/board/boardview/?idx=@item.BD_idx&cate=@Request["cate"]">  @get_img(item.BD_idx)</a>
                    </div>
                </div>




            </div>




            first++;
        }

    </div>


    @*<table class="@board_style">
            <thead>
                <tr>
                    <th style="width: 60px" class="text-center">@SmartFactory.Util.get_word.language_code(language, "no")</th>
                    <th class="text-center"> @SmartFactory.Util.get_word.language_code(language, "Title")</th>
                    <th style="width: 60px" class="text-center">@SmartFactory.Util.get_word.language_code(language, "hit")</th>

                    <th style="width: 100px" class="text-center">@SmartFactory.Util.get_word.language_code(language, "Date")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Board item in Model)
                {
                    <tr>
                        <td class="text-center" style="font-size:0.85em;color:#808080">


                            @((pg.totalcount - pg.skipcount) - i)
                        </td>
                        <td>

                            <span onclick=" go_link('@item.BD_idx') " style="cursor: pointer">@item.BD_title</span>

                        </td>
                        <td class="text-center">@item.BD_hit</td>

                        <td class="text-center">
                            @if (item.BD_wdate.ToShortDateString() == DateTime.Today.ToShortDateString())
                            {
                                <span>@item.BD_wdate.ToShortTimeString()</span>
                            }
                            else
                            {
                                <span>@item.BD_wdate.ToShortDateString()</span>
                            }
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>*@



    <div class="row" style="margin:20px 0 5px 0;display:none">
        <div class="col-md-2 btn btn-fill btn-info " style="float:right;width:110px;text-align:center ;cursor: pointer;" onclick="go_write()">
            <span> @SmartFactory.Util.get_word.language_code(language, "create")</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @Html.Partial("Pagination")
        </div>
    </div>
    <hr />
    <form id="form1" name="form1" action="/Board/Board_list" method="post">
        <div style="width:100% ;display:table;">
            <div style="display:table;width:60%;margin:0 auto">
                <div class="col-md-4 bottom">
                    <input type="hidden" name="cate" id="cate" value="@cate" />
                    <select name="search_all_type" id="search_all_type" class="selectpicker" style="margin-top:5px;">
                        <option value="1">Title + Content</option>
                        <option value="2">Title</option>
                        <option value="3">Writer</option>
                    </select>
                </div>

                <div class="col-md-5 bottom" style="margin-top:5px;">
                    <input type="text" name="search_all" id="search_all" class="form-control" value="@ViewBag.search_all" />
                </div>
                <div class="col-md-2 bottom" style="margin-top:5px;">
                    <div class="btn btn-default btn-fill btn-wd   btn-default" onclick="search_it()" style="margin-top:0;padding:6px 12px;border-radius:3px">  @SmartFactory.Util.get_word.language_code(language, "search")</div>
                </div>
            </div>
        </div>

    </form>
</div>


@helper get_string(string str, int s)
{

    try
    {
        if (str.Length > s)
        {
            <span title="@str" style="cursor:pointer"> @str.Substring(0, s) .. </span>

        }
        else
        {
            <span style="cursor:pointer">
                @str
            </span>
        }
    }
    catch { }

}

@helper get_img(int idx)
{

    db_e db = new db_e();

    string img_name = (from a in db.BoardFile where a.BF_BD_idx == idx select a.BF_name).FirstOrDefault();






    string img_src = "http://suta.theblueeye.com/upload/";

    string img_url = img_src + img_name;



    if (img_name != null)

    {
        <br />
        <img src="@img_url" style="width:100%;height:100%;max-height:140px;display:table;" />

    }



}



@helper get_string2(string str, int s)
{

    try
    {
        if (str.Length > s)
        {







            <style>
                img {
                    display: none;
                }
            </style>
            <span style="cursor:pointer;word-break:break-all; overflow:hidden;"> @Html.Raw(str)  </span>

        }
        else
        {
            <span style="cursor:pointer">
                @str
            </span>
        }
    }
    catch { }

}