@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Layout/Header.cshtml")
<!--Home/Contact-->
<script src="~/Content/Board/Board.js"></script>
<div style="margin-bottom:50px">
    <section class="image-head-wrapper" style="background-image: url('/images/Background/Contact-back.jpg'); background-size:cover;">
        <div class="inner-wrapper">
            <h1 class="in-img-text">Contact Us</h1>
        </div>
    </section>
    <div class="clearfix"></div>


    <section class="contact-block">
        <div class="container text-center">
            <div class="col-md-12 contact-left-block">
                <h3><span>Contact </span>Us</h3>
                <h4 class="text-center con_text">
                    If you want to contact us, please refer to the information below.
                </h4>
                <h4 class="text-center con_text">
                    <i class="fas fa-map-marker-alt"></i> Gangnam Daero 93 gil 32, Seochogu, 06530 Seoul, South Korea
                </h4>
                <h4 class="text-center con_text"><a href="tel:+1-202-555-0100"><i class="fas fa-phone-alt"></i> +82 2 3444 7821 </a></h4>
                <h4 class="text-center con_text"><a href="mailto:misssupertalent@gmail.com"><i class="fa fa-envelope"></i> misssupertalent@gmail.com </a></h4>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-6 contact-form" style="margin-top:30px;">
                <h3>Send a <span>Message</span></h3>
                <form action="/Home/Contact" method="post" id="form1">
                    @Html.TextBox("Email", "", new { Class = "input_user", Type = "email", Placeholder = "E-mail", Data_val = "true", Data_val_required = "Please enter your email address" })
                    @Html.ValidationMessage("Email", new { Class = "text-danger" })
                    @Html.TextBox("Name", "", new { Class = "input_user", Type = "text", Placeholder = "Name", Data_val = "true", Data_val_required = "Please enter your name" })
                    @Html.ValidationMessage("Name", new { Class = "text-danger" })
                    @Html.TextBox("Phone", "", new { Class = "input_user", Type = "text", Placeholder = "Phone ex)010-1234-1234", Data_val = "true", Data_val_required = "Please enter your Phone number" })
                    @Html.ValidationMessage("Phone", new { Class = "text-danger" })

                    <input type="hidden" name="Inquiry" value="english">
                    @Html.DropDownList("gubun_code", (SelectList)ViewBag.category, "WHAT IS YOUR INQUIRY REGARDING?", new { @class = "input_user" })
                    @Html.ValidationMessage("gubun_code", new { Class = "text-danger" })
                    @Html.TextArea("Content", "", new { Class = "input_user", Type = "text", Placeholder = "HOW CAN WE HELP YOU?", Data_val = "false", Data_val_required = "Please enter your Phone number" })
                    @Html.ValidationMessage("Content", new { Class = "text-danger" })
                    <div class="submit-btn" style="min-width:200px; border-radius:15px;cursor:pointer " onclick="send_it()"> Send</div>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
</div>

<script src="/Scripts/jquery.validate.min.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>

<style>
    .con_text {
        margin-bottom: 10px;
        font-weight: bold;
    }
</style>

<script>

    function send_it() {


        check("Email,Name,Phone,gubun_code,Content", "form1")
    }

</script>