@model IEnumerable<supertalentoftheworld.Models.Travel_Goods>
@using supertalentoftheworld.Models



@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Layout/Header.cshtml")
<!--Home/Index-->
    <style>

        .carousel-fade .carousel-inner .item {
            transition: 0.6s ease-in-out opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0.5;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

            .next,
            .prev,
            .active.left,
            .active.right {
                left: 0;
                transform: translate3d(0, 0, 0);
            }

        .carousel-control {
            z-index: 2;
        }

        .ori {
            border: solid 0.5px #b0b0b0;
        }

        .sel {
            cursor: pointer
        }

        #tab-cont, #tab-cont1 {
            transition: ease-in 0.4s;
        }

        #tab-btn, #tab-btn1 {
            padding: 0;
            border: solid 1px #ff4157;
        }

            #tab-btn ul, #tab-btn1 ul {
                width: 100%;
            }

                #tab-btn ul li, #tab-btn1 ul li {
                    width: 33.33333%;
                    float: left;
                    padding: 2%;
                    text-align: center;
                }

                #tab-btn1 ul li {
                    width: 20%;
                }

                    #tab-btn ul li a, #tab-btn1 ul li a {
                        font-size: 1.1em;
                        color: #ff4157;
                    }

            #tab-btn .tab-active, #tab-btn1 .tab-active1 {
                background: #ff4157;
            }

                #tab-btn .tab-active a, #tab-btn1 .tab-active1 a {
                    color: #fff;
                }


        .embed-container {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
        }

            .embed-container iframe, .embed-container object, .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 99%;
            }

        .gallery-image {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 15px;
            padding-bottom: 5px;
        }

        .btn-size {
            font-size: 0.75em;
            margin-bottom: 30px;
        }

        .embed-container {
            width: 100%;
            height: 100%;
        }

            .embed-container video, .embed-container object, .embed-container embed {
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
                display: block;
                padding: 0;
            }

        ul, li {
            list-style: none;
        }

        .v-section {
            margin-top: 20px;
            margin-bottom: 34px;
            padding: 0 5px;
            z-index: 100;
            position: relative;
        }

        .caption {
            position: relative;
            text-align: center;
            padding: 10px 0;
        }

        .v-caption {
            text-align: left;
            padding: 10px;
            color: #333;
            line-height: 2rem;
            font-size: 15px;
            border: 1px solid #ddd
        }

        @@media (max-width: 767px) {
            .img-logo {
                height: 200px;
            }


            .banner_wraper {
                height: 100px;
                width: 100%;
                position: absolute;
                overflow: hidden;
                margin-left: 100px;
            }

                .banner_wraper img {
                    height: 100px;
                    position: absolute;
                }

            .gallery-image img {
                width: 60%;
            }
        }
    </style>
<div id="page" style="padding-top:30px;">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-5 col-md-offset-1" style="margin-bottom:30px; max-height:380px;">
            @*슬라이드*@
            <div id="myCarousel1" class="carousel slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel1" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/images/Carousel/banner1.jpg" style="width:100%; max-height: 380px" alt="First slide">
                    </div>
                    <div class="item">
                        <a href="/board/boardview/?idx=145&cate=10"><img src="/images/Carousel/banner4.jpg" style="width:100%; max-height: 380px" alt="Second slide"></a>
                    </div>
                </div>
            </div>
        </div>
        @*공지사항/언론보도/공식일정*@
        <div class="col-md-5">
            <div id="tab-btn" class="col-md-12" style="display:table;width:100%;">
                <ul>
                    <li class="tab-active"><a href="#">News</a></li>
                    <li><a href="#">Notice</a></li>

                    <li><a href="#">Event</a></li>
                </ul>
            </div>
            <div id="tab-cont" class="col-md-12" style="padding:0; padding-top:3%; padding-bottom:3%;min-height:160px; ">

                @*언론보도 시작*@
                <div>
                    <div style="margin-top:5px; padding:0;">
                        <div class="main-article" style="word-break:break-all;width:100%;display:table ">
                            @foreach (var item in ViewBag.News as List<Board>)
                            {
                                <div style=" width:100%;  padding:2px 15px;">
                                    <a style="" href="/board/boardview/?idx=@item.BD_idx&cate=@item.BD_BM_idx">@get_string(item.BD_title, 60) </a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
                @*언론보도 끝*@

                @*공지사항 시작*@
                <div>

                    <div style="margin-top:5px;  padding:0;">
                        <div class="main-article" style="word-break:break-all;width:100%;display:table ">

                            @foreach (var item in ViewBag.Notice as List<Board>)
                            {
                                <div style=" width:100%; padding:2px 15px;">
                                    <a style="" href="/board/boardview/?idx=@item.BD_idx&cate=@item.BD_BM_idx">@get_string(item.BD_title, 60) </a>
                                </div>
                            }



                        </div>
                    </div>
                </div>
                @*공지사항 끝*@

                @*공식일정 시작*@
                <div>

                    <div style="margin-top:5px; padding:0; ">
                        <div class="main-article" style="word-break:break-all;width:100%;display:table ">
                            @foreach (var item in ViewBag.Event as List<Board>)
                            {
                                <div style=" width:100%; margin-right:10px; padding:2px 15px;">
                                    <a style="" href="/board/boardview/?idx=@item.BD_idx&cate=@item.BD_BM_idx">@get_string(item.BD_title, 60) </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                @*공식일정 끝*@
            </div>

            <script>
                var tabBtn = $("#tab-btn > ul > li");
                var tabCont = $("#tab-cont > div");

                tabCont.hide().eq(0).show();

                tabBtn.click(function () {
                    var target = $(this);
                    var index = target.index();
                    tabBtn.removeClass("tab-active");
                    target.addClass("tab-active");
                    tabCont.css("display", "none");
                    tabCont.eq(index).css("display", "block");
                });
            </script>



            @*동영상*@
            <div class="col-md-12" style=" padding:0;">
                <div class="col-md-6" style="padding:0;">
                    <div class='embed-container' style="width:100%; padding-bottom:0">
                        <video frameborder='0' msRequestFullscreen autoplay loop muted style="width:100%; max-height:220px;">
                            <source src="/images/video/supertalent1.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-md-6" style="padding:0;">
                    <div class='embed-container' style="width:100%;padding-bottom:0">
                        <video frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen autoplay loop muted style="width:100%; max-height:220px;">
                            <source src="/images/video/supertalent.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="col-md-10 col-md-offset-1">
            <div style=" padding-top:30px; padding-bottom:15px; clear:both">
                <h3 style="color:#333; padding-top:30px;font-weight:lighter;">2019 SUPERTALENT SEASON 13 FINALISTS</h3>
            </div>
            <div class="col-md-12">
                <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=229"><img class="img-responsive" src="~/images/index/fin1.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=222"><img class="img-responsive" src="~/images/index/fin2.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=232"><img class="img-responsive" src="~/images/index/fin3.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=228"><img class="img-responsive" src="~/images/index/fin4.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=227"><img class="img-responsive" src="~/images/index/fin5.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=223"><img class="img-responsive" src="~/images/index/fin6.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=221"><img class="img-responsive" src="~/images/index/fin7.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=220"><img class="img-responsive" src="~/images/index/fin8.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=212"><img class="img-responsive" src="~/images/index/fin9.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=210"><img class="img-responsive" src="~/images/index/fin10.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=216"><img class="img-responsive" src="~/images/index/fin11.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=230"><img class="img-responsive" src="~/images/index/fin12.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=226"><img class="img-responsive" src="~/images/index/fin13.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=225"><img class="img-responsive" src="~/images/index/fin14.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=209"><img class="img-responsive" src="~/images/index/fin15.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=231"><img class="img-responsive" src="~/images/index/fin16.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=224"><img class="img-responsive" src="~/images/index/fin17.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=213"><img class="img-responsive" src="~/images/index/fin18.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=217"><img class="img-responsive" src="~/images/index/fin19.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=218"><img class="img-responsive" src="~/images/index/fin20.jpg" /></a></div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12"><a class="gallery-image" href="/Finalists/Model_details_ko?id=211"><img class="img-responsive" src="~/images/index/fin21.jpg" /></a></div>
                </div>
            </div>
        </div>
        

        <div class="col-md-10 col-md-offset-1" style="clear:both;display:block;">
            <div id="tab-cont1" class="row" style="padding-bottom:30px;">
                @*특가여행 시작*@
                <section class="gallery-front">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4 style="color:#333;padding-top:30px;font-weight:lighter;text-align:center;line-height:1.6;">Supertalent of the World 2019 - 2018</h4>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 v-section">
                            <a href="https://youtu.be/9pfdcbLuJyw" style="width:100%" class="a-over" target="_blank">
                                <img src="~/images/index/video01.jpg" class="img-responsive" style="width:100%;" />
                                <img src="~/images/index/play.png" class="img-over" />
                                <p class="caption v-caption">
                                    2019 Miss Supertalent<br />
                                    Season 13 Vietnam Bon Nabi
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="arrow1" aria-hidden="true"><path fill="none" d="M0 0h24v24H0z" /><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z" fill="#ff4157" /></svg>
                                </p>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 v-section">
                            <a href="https://youtu.be/bK9VkKg78SQ" style="width:100%" class="a-over" target="_blank">
                                <img src="~/images/index/video02.jpg" class="img-responsive" style="width:100%;" />
                                <img src="~/images/index/play.png" class="img-over" />
                                <p class="caption v-caption">
                                    2019 Supertalent of the World<br />
                                    Final in Rome Cavalieri
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="arrow1" aria-hidden="true"><path fill="none" d="M0 0h24v24H0z" /><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z" fill="#ff4157" /></svg>
                                </p>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 v-section">
                            <a href="https://youtu.be/Hy-iNd3FtBg" style="width:100%" class="a-over" target="_blank">
                                <img src="~/images/index/video03.jpg" class="img-responsive" style="width:100%;" />
                                <img src="~/images/index/play.png" class="img-over" />
                                <p class="caption v-caption">
                                    2019 Supertalent of the World<br />
                                    Season 12 Grand Final 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="arrow1" aria-hidden="true"><path fill="none" d="M0 0h24v24H0z" /><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z" fill="#ff4157" /></svg>
                                </p>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 v-section">
                            <a href="https://youtu.be/LVb20EUKqIQ" style="width:100%" class="a-over" target="_blank">
                                <img src="~/images/index/video04.jpg" class="img-responsive" style="width:100%;" />
                                <img src="~/images/index/play.png" class="img-over" />
                                <p class="caption v-caption">
                                    2018 Supertalent Of The World<br />
                                    Season 11 in Eiffel Tower
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="arrow1" aria-hidden="true"><path fill="none" d="M0 0h24v24H0z" /><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z" fill="#ff4157" /></svg>
                                </p>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 v-section">
                            <a href="https://youtu.be/SsPel9Ewjxs" style="width:100%" class="a-over" target="_blank">
                                <img src="~/images/index/video05.jpg" class="img-responsive" style="width:100%;" />
                                <img src="~/images/index/play.png" class="img-over" />
                                <p class="caption v-caption">
                                    2019 Supertalent Fashion Week<br />
                                    in Myeongdong
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="arrow1" aria-hidden="true"><path fill="none" d="M0 0h24v24H0z" /><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z" fill="#ff4157" /></svg>
                                </p>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 v-section">
                            <a href="https://youtu.be/cCI-PpWD--s" style="width:100%" class="a-over" target="_blank">
                                <img src="~/images/index/video06.jpg" class="img-responsive" style="width:100%;" />
                                <img src="~/images/index/play.png" class="img-over" />
                                <p class="caption v-caption">
                                    2018 Supertalent Fashion Week<br />
                                    in Myeongdong
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="arrow1" aria-hidden="true"><path fill="none" d="M0 0h24v24H0z" /><path d="M16.01 11H4v2h12.01v3L20 12l-3.99-4z" fill="#ff4157" /></svg>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4 style="color:#333;padding-top:30px;font-weight:lighter;text-align:center;line-height:1.6; ">PRODUCT</h4>
                        @{ int start_it = 1;}

                        @foreach (var item in Model.Where(a => a.Category == 0))
                        {
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center sel" style="margin-top:20px;padding:0;z-index:100" onclick="location.href='/Shop/Details?id='+@item.id+''">
                                <div class="menuover">

                                    <img class="img-responsive" src="@item.MainImgPath" style="width:100%;height:228px;">

                                    @*<div class="text-left" style="margin-top:5px">
                            <text style="color:#333; margin-left:15px"><i style="font-size:1.0em;" class="fas fa-calendar-alt"></i> @item.days Days</text>
                            <text style="color:#333; margin-left:15px"><i style="font-size:1.0em;" class="fas fa-globe"></i> @item.Country Countries</text>
                            <text style="color:#333; margin-left:15px"><i style="font-size:1.0em;" class="fas fa-location-arrow"></i> @item.City Cities</text>
                        </div>*@
                                    <div class="text-center" style="">
                                        <h4 style="margin:15px 0; word-break:keep-all;">@item.Title</h4>
                                        @*<span class="star"><img title="별점" src="/images/Shop/stars.png" /></span>*@
                                    </div>
                                    <div class="text-center">
                                        <span style="margin:15px; word-break:keep-all;font-size:14px;text-align:center;color:#ff4157">@item.Sdate ~  @item.Edate</span>
                                        <br />
                                    </div>


                                    <div class="text-center" style="margin-bottom:15px">
                                        <p>
                                            <span style="color:#666; font-weight:500;font-size:14px;text-decoration:line-through;">
                                                @{
                                                    double old_price = 0;
                                                    double now_price = Convert.ToDouble(item.Price_d);

                                                    old_price = (now_price / 0.8);

                                                }
                                                <br />
                                                @old_price.ToString("###,###")

                                            </span><br />
                                            <span><span style="color:#ff4157;font-weight:500;font-size:16px;">20%&nbsp;&nbsp;</span>&#8361;</span> @item.Price_d <span style="font-size:1em">
                                                1person<br />
                                                @if (start_it == 1 || start_it == 2)
                                                {<br />
                                                    <span style="color:red;">SOLD OUT</span>
                                                }

                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            start_it++;
                        }
                    </div>
                </section>
                @*특가여행 끝*@
            </div>
        </div>



        @*파트너 시작*@
        <div class="row" style="margin:0px 0;margin-bottom:30px;">
            <div class="col-md-10 col-md-offset-1">
                <div style=" padding-top:30px; padding-bottom:15px; clear:both">
                    <h2 style="color:#333; padding-top:30px;font-weight:lighter;">PATNERS</h2>
                </div>
                <div class="col-md-12" style="text-align:center;">
                    <div class="row" style="margin:15px;margin-bottom:30px;clear:both;text-align:center">
                        @*<div class="row" style=" padding:10px 10px; clear:both;">
                            <hr class="hr-text" data-content="EVENT VENUE">
                            <div class="gallery-image img-logo">
                            </div>
                        </div>*@
                        <div class="row" style=" padding:10px 10px; clear:both;">
                            <hr class="hr-text" data-content="FINAL VENUE">
                            <div class="col-md-4 col-md-offset-2" style="margin-bottom:15px;">
                                <a href="https://romecavalieri.com/">
                                    <img src="~/images/Partners/part0.jpg" class="img-responsive" style="max-width:70%;margin:auto" />
                                </a>
                            </div>
                            <div class="col-md-4" style="margin-bottom:15px;">
                                <a href="https://romecavalieri.com/">
                                    <img src="~/images/Partners/part45.jpg" class="img-responsive" style="max-width:70%;margin:auto" />
                                </a>
                            </div>
                        </div>

                        <div class="row" style=" padding:10px 10px; clear:both;">
                            <hr class="hr-text" data-content="VENUE HOTELS">
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.toureiffel.paris/fr ">
                                    <img src="~/images/Partners/part13.jpg" class="img-responsive" />
                                    <div class="caption"><p>Tour Eiffel Paris</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://group.accor.com/en/brands/midscale/novotel">
                                    <img src="~/images/Partners/part14.jpg" class="img-responsive" />
                                    <div class="caption"><p>Novotel</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.accorhotels.com/gb/hotel-0771-ibis-paris-la-defense-centre/index.shtml">
                                    <img src="~/images/Partners/part1.jpg" class="img-responsive" />
                                    <div class="caption"><p>ibis paris la defense</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.accorhotels.com/gb/hotel-0444-novotel-marseille-east/index.shtml">
                                    <img src="~/images/Partners/part2.jpg" class="img-responsive" />
                                    <div class="caption"><p>Novotel MarseilleEst</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://hotel-soco.com">
                                    <img src="~/images/Partners/part3.jpg" class="img-responsive" />
                                    <div class="caption"><p>Hotel SoCo</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.ripamontiresidencehotel.com">
                                    <img src="~/images/Partners/part4.jpg" class="img-responsive" />
                                    <div class="caption"><p>Ripamonti</p></div>
                                </a>
                            </div>

                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.cadelmorovenice.com">
                                    <img src="~/images/Partners/part5.jpg" class="img-responsive" />
                                    <div class="caption"><p>Cadelmoro Venice</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.ih-hotels.com/it/i-nostri-aberghi/ih-hotels-bologna-amadeus.html">
                                    <img src="~/images/Partners/part6.jpg" class="img-responsive" />
                                    <div class="caption"><p>Amadeus Hotel Bologna</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.grandhotelflorasorrento.com/">
                                    <img src="~/images/Partners/part7.jpg" class="img-responsive" />
                                    <div class="caption"><p>Grandhotel Flora</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.bluhotelrome.it/en/home-page.aspx">
                                    <img src="~/images/Partners/part8.jpg" class="img-responsive" />
                                    <div class="caption"><p>Best Western</p></div>
                                </a>
                            </div>
                        </div>

                        <div class="row" style=" padding:10px 10px; clear:both">
                            <hr class="hr-text" data-content="GLOBAL PARTNERS">
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.oraclemedicalgroup.com">
                                    <img src="~/images/Partners/part9.jpg" class="img-responsive" />
                                    <div class="caption"><p>Oracle Medical</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.asiacrowd.kr">
                                    <img src="~/images/Partners/part10.jpg" class="img-responsive" />
                                    <div class="caption"><p>Asia Crowd</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://theventstylist.com">
                                    <img src="~/images/Partners/part15.jpg" class="img-responsive" />
                                    <div class="caption"><p>The Fashion Stylist</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.facebook.com/pg/missf1world">
                                    <img src="~/images/Partners/part16.jpg" class="img-responsive" />
                                    <div class="caption"><p>Miss F1 World</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://missinternational.fr">
                                    <img src="~/images/Partners/part17.jpg" class="img-responsive" />
                                    <div class="caption"><p>Miss International France</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.missexcellencefrance.com/">
                                    <img src="~/images/Partners/part18.jpg" class="img-responsive" />
                                    <div class="caption"><p>Miss Excellence France</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.culppy.org">
                                    <img src="~/images/Partners/part11.jpg" class="img-responsive" />
                                    <div class="caption"><p>Culppy</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.ipa.or.kr">
                                    <img src="~/images/Partners/part12.jpg" class="img-responsive" />
                                    <div class="caption"><p>IPA</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.sportsseoul.com/">
                                    <img src="~/images/Partners/part19.jpg" class="img-responsive" />
                                    <div class="caption"><p>Sports Seoul</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.apsk.co.kr">
                                    <img src="~/images/Partners/part20.jpg" class="img-responsive" />
                                    <div class="caption"><p>Apsk</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.webdaily.co.kr">
                                    <img src="~/images/Partners/part21.jpg" class="img-responsive" />
                                    <div class="caption"><p>Web Daily</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.beyondpost.co.kr">
                                    <img src="~/images/Partners/part22.jpg" class="img-responsive" />
                                    <div class="caption"><p>Beyond Post</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://cnews.seconomy.kr">
                                    <img src="~/images/Partners/part23.jpg" class="img-responsive" />
                                    <div class="caption"><p>Seconomy</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.thebigdata.co.kr">
                                    <img src="~/images/Partners/part24.jpg" class="img-responsive" />
                                    <div class="caption"><p>The Bigdata</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.annytronco.it/">
                                    <img src="~/images/Partners/part25.jpg" class="img-responsive" />
                                    <div class="caption"><p>Annytronco</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.volkswageninternationalfashionweek.com">
                                    <img src="~/images/Partners/part26.jpg" class="img-responsive" />
                                    <div class="caption"><p>Volkswagen</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.worldfashionweek.tv">
                                    <img src="~/images/Partners/part27.jpg" class="img-responsive" />
                                    <div class="caption"><p>World FashionWeek</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.vanfashionweek.com">
                                    <img src="~/images/Partners/part28.jpg" class="img-responsive" />
                                    <div class="caption"><p>Van FashionWeek</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.uptownfashionweek.com">
                                    <img src="~/images/Partners/part29.jpg" class="img-responsive" />
                                    <div class="caption"><p>Uptown FashionWeek</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.fdla.co">
                                    <img src="~/images/Partners/part30.jpg" class="img-responsive" />
                                    <div class="caption"><p>FDLA</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://spbfw.ru">
                                    <img src="~/images/Partners/part31.jpg" class="img-responsive" />
                                    <div class="caption"><p>ST. PetersBurg</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://odessafashionweek.com">
                                    <img src="~/images/Partners/part32.jpg" class="img-responsive" />
                                    <div class="caption"><p>Odessa FashionWeek</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.ecofashionweekaustralia.com">
                                    <img src="~/images/Partners/part33.jpg" class="img-responsive" />
                                    <div class="caption"><p>Eco FashionWeek</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.sunshinecoastfashionfestival.com">
                                    <img src="~/images/Partners/part34.jpg" class="img-responsive" />
                                    <div class="caption"><p>SunshineCoast Fashion Festival</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.hkfda.org">
                                    <img src="~/images/Partners/part35.jpg" class="img-responsive" />
                                    <div class="caption"><p>HKDA</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.punefashionweek.com">
                                    <img src="~/images/Partners/part36.jpg" class="img-responsive" />
                                    <div class="caption"><p>Pune FashionWeek</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.missengland.info">
                                    <img src="~/images/Partners/part37.jpg" class="img-responsive" />
                                    <div class="caption"><p>Miss England</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.worldsupermodelpageant.com">
                                    <img src="~/images/Partners/part38.jpg" class="img-responsive" />
                                    <div class="caption"><p>World Supermodel Pageant</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="http://www.sac.ac.kr">
                                    <img src="~/images/Partners/part39.jpg" class="img-responsive" />
                                    <div class="caption"><p>SAC</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.starcollection-by-pm.de">
                                    <img src="~/images/Partners/part40.jpg" class="img-responsive" />
                                    <div class="caption"><p>Starcollection</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.viator.com/">
                                    <img src="~/images/Partners/part41.jpg" class="img-responsive" />
                                    <div class="caption"><p>Viator</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.tripadvisor.com/">
                                    <img src="~/images/Partners/part42.jpg" class="img-responsive" />
                                    <div class="caption"><p>Tripadvisor</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.nsr.com.cn">
                                    <img src="~/images/Partners/part43.jpg" class="img-responsive" />
                                    <div class="caption"><p>Nsr</p></div>
                                </a>
                            </div>
                            <div class="gallery-image img-logo col-lg-2 col-md-2 col-sm-3 col-xs-6">
                                <a href="https://www.topmodelworldwide.com">
                                    <img src="~/images/Partners/part44.jpg" class="img-responsive" />
                                    <div class="caption"><p>Top Model WorldWide</p></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*파트너 끝*@

    </div>
</div>





@helper get_string(string str, int s)
{

    try
    {
        if (str.Length > s)
        {
            <span title="@str" style="cursor:pointer"> @str.Substring(0, s) .. </span>

        }
        else
        {
            <span style="cursor:pointer">
                @str
            </span>
        }
    }
    catch { }

}

<script>

</script>