@model IEnumerable<supertalentoftheworld.Models.Model_Data>

@{
                /**/

                Layout = "/Views/Shared/_Layout.cshtml";
}
@Html.Partial("/Views/Layout/Header_ko.cshtml")

    <div class="font-user" style="">
        <div class="col-md-12 subtitle_bg" style="background-image: url('/images/Background/Finalist-back1.jpg');box-sizing: border-box; background-size: cover; background-position: center right; background-repeat: no-repeat; color: #fff; line-height:3em;padding:0;">
            <div class="col-md-4 col-md-offset-1" style="display:block;position:relative;padding:20px 0;">
                <h1 class="subtitle_res" style="font-weight:700;color:#fff;text-align:center;">Finalist</h1>
            </div>
        </div>

        <div class="col-md-12" style="text-align:center;clear:both;margin-bottom:50px">

            @Html.Partial("/Views/Layout/_Finalist_Menu_ko.cshtml")

            <div class="col-md-8 col-md-offset-2">
                <section class="gallery-block gallery-front row">
                    @foreach (var item in Model)
                    {
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" style="margin-bottom:20px;">
                        <div class="gallery-image">
                            <img class="img-responsive" src="@item.MainImgPath" onerror="this.src='http://supertalent.theblueeye.com/upload/error.png'" style="margin:0">
                            <div class="overlay">
                                <a class="info pop img-responsive" href="/Finalists/Model_details_ko?id=@item.id" style="margin:0">                                    
                                    <p class="text-center">
                                        <span style="color:#fff;line-height:2.8rem;font-size:1.8rem;font-weight:lighter">
                                            <span class="text-over">Age&nbsp;</span>@item.M_age<br>
                                            <span class="text-over">Height&nbsp;</span>@item.M_height<br>
                                            @*<span class="text-over">Bust</span>@item.M_bust<br>
                                            <span class="text-over">Waist</span>@item.M_waist<br>
                                            <span class="text-over">Hips</span>@item.M_hips<br>*@
                                            <span class="text-over">Hair</span>@ViewBag.헤어<br>
                                            <span class="text-over">Eyes</span>@ViewBag.눈<br><br />
                                        </span>
                                        View Detail<br>
                                    </p>
                                </a>
                            </div>
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:10px 0;padding:0">                           
                            <div style="display:block;clear:both;width:100%;">
                                <div class="text-country col-lg-7 col-md-7 col-sm-7 col-xs-7">@item.M_country</div>
                                <div class="text-left col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    @{if (item.M_insta != null)
                                        {
                                            <span class="text-left">
                                                @{ if (item.M_insta != null)
                                                    {
                                                        <a class="text-bio" href="@item.M_insta"> <img class="img-sns" src="/images/sns2.png" /></a>

                                                    }
                                                }
                                            </span>
                                        }
                                        else
                                        {
                                            <span>

                                            </span>
                                        } }

                                </div>
                                <div class="text-name col-lg-12 col-md-12 col-sm-12 col-xs-12">@item.M_name</div>
                            </div>
                        </div>
                    </div>
                    }
                </section>
            </div>

        </div>

    </div>



<style>
    .user-a {
        width:110px;
        display: inline-block;
        font-size:16px;
        color:#333;
        padding:20px 0
    }

    .gallery-image {
        margin-bottom: 0px;
    }

    .li-active {
        color: #ff4157;        
        background:#fff;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
    }
    .li-active:hover {
        color:#ff4157;
    }

    .text-name {
        font-size: 1em;
        margin-bottom: 20px;
        text-align:center;
        margin-top:10px;
    }
    .text-country {
        color: #a8a8a8;
        text-transform:uppercase;
        min-height:25px;
        display:table;
        font-size:0.9em;
        
    }
     .text-over {
        color: #a8a8a8; 
        text-transform:uppercaser;
        display:inline;
        
    }

    .img-country {
        width: 45px;
        height: 25px;
        position:absolute;
        left:2.5px;
        top:1px;
    }
    .img-sns {
        width:20px;
    }

    .user-ul {
        display: table;
        list-style: none;
        text-align: center;

    }
    .ul-bg {
        background:#ff4157
    }

    .user-li {
        display: inline;
        margin:10px 10px 0 10px;
        border: 0;
        float: left;
        font-weight: bold;
    }
    .user-li a:hover {
        color:#333;
    }

    .img-responsive {
        height: 340px;
        background-size: cover;
        width: 260px;
    }
</style>
<script>

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var cate = getParameterByName('cate');
    var season = getParameterByName('season');

    console.log(cate);
    console.log(season);

    sel_year();

    function sel_year() {

        var html = '';

        if (season == "13") {
            $('#2019').addClass("li-active");

            html += '<ul class="user-ul">\
                <li class="user-li">\
                    <a class="user-a" id="Season13" href="/Finalists/Models_ko?cate=1&season=13">Season 13</a>\
                    </li>\
                <li class="user-li">\
                    <a class="user-a" id="Season12" href="/Finalists/Models_ko?cate=1&season=12">Season 12</a>\
                </li>\
                </ul>';
            $('#season_add').html(html);

            $('#Season'+season).addClass("li-active");
        }

        if (season == "12") {
            $('#2019').addClass("li-active");

            html += '<ul class="user-ul">\
                <li class="user-li">\
                    <a class="user-a" id="Season13" href="/Finalists/Models_ko?cate=1&season=13">Season 13</a>\
                    </li>\
                <li class="user-li">\
                    <a class="user-a" id="Season12" href="/Finalists/Models_ko?cate=1&season=12">Season 12</a>\
                </li>\
                </ul>';
            $('#season_add').html(html);

            $('#Season' + season).addClass("li-active");
        }

        if (season == "11") {
            $('#2018').addClass("li-active");

            html += '<ul class="user-ul">\
                <li class="user-li">\
                    <a class="user-a" id="Season11" href="/Finalists/Models_ko?cate=1&season=11">Season 11</a>\
                    </li>\
                <li class="user-li">\
                    <a class="user-a" id="Season10" href="/Finalists/Models_ko?cate=1&season=10">Season 10</a>\
                </li>\
                </ul>';
            $('#season_add').html(html);

            $('#Season' + season).addClass("li-active");
        }

        if (season == "10") {
            $('#2018').addClass("li-active");

            html += '<ul class="user-ul">\
                <li class="user-li">\
                    <a class="user-a" id="Season11" href="/Finalists/Models_ko?cate=1&season=11">Season 11</a>\
                    </li>\
                <li class="user-li">\
                    <a class="user-a" id="Season10" href="/Finalists/Models_ko?cate=1&season=10">Season 10</a>\
                </li>\
                </ul>';
            $('#season_add').html(html);

            $('#Season' + season).addClass("li-active");
        }

    }

</script>